@model List<Recipe>

@{
    ViewData["Title"] = "Favorites";
    ViewData["Heading"]= "Favorites of the month 🌽";
}


<div class="container">
    <div id="favorites" class="page-container">
        <h4>@ViewData["Heading"]</h4>
        <div class="favorites">
            @foreach (var recipe in Model.Take(4))
            {
                <div class="favorite content-container">
                    <a href="/Recipes/Detail/@recipe.Id">
                        <img src=@recipe.Image alt="recipe"/>
                    </a>
                    <h6>How to make @recipe.Name?</h6>
                    <div class="mini-profile">
                        <p class="description">
                            @recipe.Category - 
                            @recipe.date_added.ToString("MMMM d, yyyy")
                        </p>
                    </div>
                </div>
            }
        </div>
    </div>
</div>