@{
    ViewData["Title"] = "Favorites";
    ViewData["Heading"]= "Favorite recipes";
}


<div class="container">
    <div id="favorites" class="page-container">
        <h4>@ViewData["Heading"]</h4>
        <div class="button-container">
            <button class="button small primary">Recipes</button>
            <button class="button small secondary">Tips</button>
        </div>
        <div class="favorites">
            <div class="favorite content-container">
                <img src="https://images.immediate.co.uk/production/volatile/sites/30/2020/08/chorizo-mozarella-gnocchi-bake-cropped-9ab73a3.jpg?quality=90&resize=556,505" alt="recipe"/>
                <h6>How to make french toast</h6>
                <p class="description">by Aleyna Hasagdas</p>
            </div>
            <div class="favorite content-container">
                <img src="https://images.immediate.co.uk/production/volatile/sites/30/2020/08/chorizo-mozarella-gnocchi-bake-cropped-9ab73a3.jpg?quality=90&resize=556,505" alt="recipe"/>
                <h6>How to make french toast</h6>
                <p class="description">by Aleyna Hasagdas</p>
            </div>
            <div class="favorite content-container">
                <img src="https://images.immediate.co.uk/production/volatile/sites/30/2020/08/chorizo-mozarella-gnocchi-bake-cropped-9ab73a3.jpg?quality=90&resize=556,505" alt="recipe"/>
                <h6>How to make french toast</h6>
                <p class="description">by Aleyna Hasagdas</p>
            </div>
            
        </div>
    </div>
</div>