@{
    ViewData["Title"] = "Profile";
    ViewData["Heading"]= "Profile";
    var user = new UserModel
    {
        id = 1,
        Username = "sampleUser",
        Password = "samplePassword",
        Email = "sena.oz@boun.edu.tr",
        UserImageLink = "https://media.licdn.com/dms/image/D4D03AQFd9MdgsxoUxA/profile-displayphoto-shrink_400_400/0/1664549186379?e=1689811200&v=beta&t=JFQzqCi0hKSnQ3VsNTguiTQCW0Z8aIyZGf4Liq_dgV0",
        Name = "Sena",
        Surname = "Oz",
        Description = "Lorem ipsum dolor sit amet."
    };

}

<div class="container">
     <div id="profile" class="page-container">
                        <h4>Login</h4>
                        <h5>Use a local account to log in.</h5>
                        
                        <form action="/Home/ProfileSena" method="post" style="width: 100%">
                            <input type="text" name="username" class="form-control" required placeholder="Email" type="email" data-val="true" data-val-email="The Email field is not a valid e-mail address." data-val-required="The Email field is required.">
                            <input type="password" name="password" class="form-control" required placeholder="Password">
                            <input type="submit" value="Login" class="button small primary">
                        </form>
                        
                        <hr style="width: 100%;">
                        
                        <h4>Register</h4>
                        <h5>Create a new account.</h5>
                        <form action="/Home/ProfileSena" method="post" style="width: 100%">
                            <input class="form-control"  type="text" name="username" required placeholder="Username"> 
                            <input class="form-control"  type="password" name="password" required title="Password must have at least one non-alphanumeric character, one uppercase letter, and be at least 6 characters long" placeholder="Password"> 
                            <input class="form-control"  type="email" name="email" required placeholder="Email"> 
                            <input class="form-control"  type="text" name="userImageLink" required placeholder="User Image Link"> 
                            <input class="form-control"  type="text" name="name" required placeholder="Name"> 
                            <input class="form-control"  type="text" name="surname" required placeholder="Surname"> 
                            <textarea class="form-control"  name="description" required placeholder="Description"></textarea> 
                            <input type="submit" value="Register" class="button small secondary">
                        </form>
                        <p><b>Note:</b> Passwords must have at least one non alphanumeric character, at least one uppercase ('A'-'Z'), and the lenght is min. 6 character.</p>
                    </div>




</div>