@page
@model RecipeAleyna.Views.CreateRecipe.Profile

@{
    ViewData["Title"] = "Profile";
    ViewData["Heading"]= "My Profile";
    ViewData["Name"]= "Sena";
    ViewData["Surname"]= "Oz";
    ViewData["UserImage"]= "https://media.licdn.com/dms/image/D4D03AQFd9MdgsxoUxA/profile-displayphoto-shrink_400_400/0/1664549186379?e=1689811200&v=beta&t=JFQzqCi0hKSnQ3VsNTguiTQCW0Z8aIyZGf4Liq_dgV0";
    ViewData["Description"]= "Hi world! I’m Sena from Türkiye 🇹🇷 I love cooking 🥐";
}

<div id="profile" class="page-container">
    <h4>@ViewData["Heading"]</h4>
    <div class="profile">
        <img src=@ViewData["UserImage"] alt="profile"/>
        <h5>@ViewData["Username"]</h5>
        <p>@ViewData["Description"]</p>
    </div>
    
    <div class="button-container">
            <button class="button small primary">Small primary</button>
            <button class="button small secondary">Small Secondary</button>
        </div>
        <div class="favorites">
            <div class="favorite content-container">
                <img src="https://images.immediate.co.uk/production/volatile/sites/30/2020/08/chorizo-mozarella-gnocchi-bake-cropped-9ab73a3.jpg?quality=90&resize=556,505" alt="recipe"/>
                <h6>How to make french toast</h6>
                <p class="description">by Aleyna Hasagdas</p>
            </div>
            <div class="favorite content-container">
                <img src="https://images.immediate.co.uk/production/volatile/sites/30/2020/08/chorizo-mozarella-gnocchi-bake-cropped-9ab73a3.jpg?quality=90&resize=556,505" alt="recipe"/>
                <h6>How to make french toast</h6>
                <p class="description">by Aleyna Hasagdas</p>
            </div>
            <div class="favorite content-container">
                <img src="https://images.immediate.co.uk/production/volatile/sites/30/2020/08/chorizo-mozarella-gnocchi-bake-cropped-9ab73a3.jpg?quality=90&resize=556,505" alt="recipe"/>
                <h6>How to make french toast</h6>
                <p class="description">by Aleyna Hasagdas</p>
            </div>
            
        </div>
</div>