@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager


<div class="menu-container">
    <nav class="items-container">
        <div class="menu-item">
                <a asp-area="" asp-controller="Home" asp-action="Index">Home</a>
            </div>
        <div class="menu-item">
             <a asp-area="" asp-controller="Favorites" asp-action="Index">Favorites</a>
        </div>
            <div class="menu-item add">
                <a asp-area="" asp-controller="Recipes" asp-action="Create">+</a>
            </div>
        <div class="menu-item">
            <a asp-area="" asp-controller="User" asp-action="Profile">Profile</a>
        </div>
        <div class="menu-item">
             <a href="mailto:sena.oz@boun.edu.tr">Feedback</a>
        </div>
    </nav>
</div>

